* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
.container {
  margin: auto;
  background-color: black;
  width: 100vw;
  height:100vh;
  position: relative;
  /* display:flex; */
}

.containerBox {
  width: 50%;
  height:100%;
  background-color: rgb(32, 166, 178);
  text-align: center;
  padding-bottom:5vh;
  /* background-image:url(https://picsum.photos/200/300); */
  /* 透明感 */
  /* background-image:radial-gradient(white,transparent); */
  /* background-image:linear-gradient(90deg, white,transparent); */
  /* 透明感end */
  /* 版面1 */
  /* z-index:100; */
}
.BoxHeader {
  /* background-color:bisque; */
position:relative;
height:13vh;
width:100%;
padding:0 8vw;
}
.time {
  position:absolute;
  bottom:0;
  right:8vw;
  /* background-color:lightgreen; */
  /* background-color: rgba(255, 255, 255, 0.312); */
  font-size: 4vh;
  /* 透明感 */
  /* -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px); */
  /* 透明感 end*/
}
.Emonth{
  position:absolute;
  font-size:8vh;
}
.year{
  position:absolute;
bottom:0;
  font-size:3vh;
}
.BHButton{
  width:100%;
  /* background-color:bisque; */
  text-align:end;
  padding-right:8vw;
}
.BHButton button {
  /* height: 3vw; */
  background-color: rgba(196, 196, 196, 0.5);
  border: 0;
  font-size: 0.8vw;
  padding:0.5vw 1vw;
}
.BHButton button a {
  color: rgb(0, 0, 0);
}
.containerBoxS {
  margin-top: 2vh;
}
.every span {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  border-radius: 50px;
  background-color: rgba(215, 214, 214, 0.358);
  color: white;
  line-height: 5vw;
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  text-shadow: 0 0 2px rgb(0, 0, 0);
}
.everyD span {
  /* display: inline-block;
  width: 5vw;
  height: 5vw; */
  /* border-radius: 50px; */
  /* background-color:black; */
  /* background-color: rgba(215, 214, 214, 0.358); */
  /* color: white;
  line-height: 5vw; */
  /* 透明感 */
  /* -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  text-shadow: 0 0 2px rgb(0, 0, 0); */
  /* 透明感end */
}
.everyD span:hover {
  background-color: rgba(143, 255, 255, 0.8);
  /* -webkit-backdrop-filter: blur(0); */
  /* backdrop-filter: blur(0); */
}
.today-c1 {
  box-shadow: inset 0 0 30px rgb(33, 33, 33);
}
